.container{
    display: flex;
    width: 100%;
}

.contentContainer{
    width: 75%;
}
.sidebarContainer{
    width: 25%;
    min-height: 1280px;
    margin-left: 32px;
}

.filterContainer{
    padding-top: 24px;
    margin: 0 20px;
}

.tagFilterContainer{
    padding-top: 16px;
    margin-bottom: 16px;
}

.cardListContainer{
    margin: 0 20px;
}
