.headerIcon{
    color: #fff;
    font-size: 24px;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.bbsName{
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    color: black;
    line-height: 1.4;
    /* margin-top: 64px; */
    margin-bottom: 8px;
    display: block;
}
